Repository ShaharEli/requestFieldsSelector, changes with the labels that .github/labeler.yml gives for each.
All labels: utils, types, middleware, package, workflows

.github/labeler.yml:

utils:
  - src/utils/**/*
types:
  - src/types/**/*
middleware:
  - src/index.ts
package:
  - app/package.json
workflows:
  - .github/workflows/**/*

fix(wf): semantic release
  .github/workflows/npm-version.yml
Labels: workflows

fix(package-json): tsconfig tsc folder
  tsconfig.json
Labels: none

docs(name): updated
  package.json
Labels: none

fix(wf): changed to semantic release
  .github/workflows/npm-version.yml
  package-lock.json
  package.json
Labels: workflows

chore(release): 1.0.0
  CHANGELOG.md
Labels: none

chore(wf): updated
  .github/workflows/npm-version.yml
  package-lock.json
  package.json
Labels: workflows

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

chore(wf): updated
  package.json
Labels: none

fix(node-modules): fixed build folder ignore path
  .eslintignore
  .gitignore
Labels: none

chore(release): 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

feat(wf): done
  .gitignore
Labels: none

chore(release): 1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

feat(wf): final test
  .gitignore
Labels: none

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

feat(md): added
  .gitignore
  LICENSE.txt
  README.MD
  __tests__/middleware.test.ts
  example/app.ts
  images/logo.png
  package-lock.json
  package.json
  src/index.ts
  src/types/index.ts
  src/utils/consts.util.ts
  src/utils/objs.util.ts
Labels: utils, types, middleware

chore(release): 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

feat(typescript): updated all
  README.MD
  example/app.ts
  example/types/express.d.ts
  example/types/index.ts
  src/index.ts
  src/types/express/index.d.ts
  src/types/index.ts
  tsconfig.json
Labels: types, middleware

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

fix(md): fixed typos and image
  README.MD
Labels: none

chore(release): 1.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

feat(package json): removed cors
  README.MD
  example/index.ts
  package-lock.json
  package.json
  src/types/index.ts
Labels: types

chore(release): 1.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

refactor(md): gif added
  README.MD
  assets/logo.png
  assets/requestFieldSelectorShowcase.gif
  src/index.ts
  src/utils/objs.util.ts
Labels: utils, middleware

chore(release): 1.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

fix(package): npm ignored files
  .gitignore
  .npmignore
  tsconfig.json
Labels: none

chore(release): 1.2.4
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

refactor(typescript): change req property transfrom to be mandatory
  example/app.ts
  example/types/express.d.ts
  src/types/index.ts
Labels: types

chore(release): 1.2.5
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

fix(package): typescript support
  package.json
  src/index.ts
  tsconfig.json
Labels: middleware

chore(release): 1.2.6
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

fix(package): removed express
  README.MD
  example/app.ts
  package-lock.json
  package.json
  src/index.ts
  src/utils/objs.util.ts
Labels: utils, middleware

chore(release): 1.2.7
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

refactor(eslint): change config to match new dependecies
  .eslintrc.js
  .github/workflows/lint.yml
  .github/workflows/test.yml
  example/app.ts
  src/index.ts
  src/utils/objs.util.ts
Labels: utils, middleware, workflows

chore(release): 1.2.8
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

test(benchmarking): added
  __tests__/mocks/index.ts
  __tests__/tests/benchmarks.test.ts
  __tests__/tests/middleware.test.ts
  __tests__/tests/objMunipulationFuncs.test.ts
  __tests__/utils/benchmarks.ts
  __tests__/utils/index.ts
  package-lock.json
  package.json
  src/utils/objs.util.ts
Labels: utils
